body {
	--main-color: #303030;
	--secondary-color: #383838;
	--btn: #FDFFFC;
  background: #000000;
  font-family: 'Roboto', cursive
}

#portfolioButton{
	font-size: 1.2em;
	padding: 15px;
}

.country{
  margin-top: 16px;
}

.user__card {
	min-width: 25em; /* 400px */
	height: 37.5em; /* 600px */
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 10px; /* 20px */
	transform: translate(-50%, -50%);
}
.bg {
	width: 100%;
	height: 30%;
	text-align: center;
	background-color: #181818;
	position: relative;
}
.bg .perfil {
	display: inline-block;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	position: relative;
  background: #141414;
	border: 4px solid var(--main-color);
	top: 50px;
	overflow: hidden;
	z-index: 10;
}
.bg .perfil i {
  margin-top: 8.5px;
  color: #fff;
  font-size: 9.7em;
  transition: all .25s ease;
}
.bg .perfil::after {
	content: "";
	width: 35px;
	height: 100%;
	background: rgba(255,255,255,0.35);
	position: absolute;
	right: -50%;
	top: 0;
	transform: skewX(45deg);
	transition: all 0.35s linear;
}
.user__card:hover .bg .perfil::after {
	right: 130%;
	transition: all 0.45s linear;
	transition-delay: 0.4s;
}
.user__card:hover .bg .perfil i {
	transform: scale(1.1);
  transition: all .25s ease;
}
.bg .aside {
	width: 30px;
	height: 100%;
	line-height: 7em;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 1.5em;
	color: #fff;
	background: var(--main-color);
	background: linear-gradient(to right, #fff 0%, #fff 1%, var(--main-color) 5%, var(--main-color) 100%);
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	z-index: -1;
}
.user__card .bg .aside,
.user__card:hover .bg .aside{
	transition: all 0.5s ease;
}
.user__card:hover .bg .aside {
	right: -30px;
	transition-delay: 0.35s;
}
.main__content {
	width: 100%;
	height: 70%;
	color: #fff;
	position: relative;
	left: 0;
	overflow: hidden;
}
.upper__card,
.down__card {
	width: 100%;
	height: 100%;
	position:absolute;
	left: 0;
}
.upper__card {
	background: var(--main-color);
	z-index: 2;
}
.upper__card::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	right: -200px;
	border-bottom: 420px solid var(--main-color);
	border-right: 200px solid transparent;
}
.info,
.social {
	margin: 0 auto;
	width: 80%;
	height: 50%;
}
.info {
	padding-top: 70px;
	text-align: center;
	border-bottom: 1px solid rgba(255,255,255,0.75);
}
.info h3 {
	font-size: 3.5em;
	margin-bottom: 8px;
}
.info p:nth-child(2) {
	font-size: 1.5em;
	margin-bottom: 5px;
}
.info p:nth-child(3) {
	font-size: 1.2em;
}
.portfolio {
  padding-top: 34px;
	height: 80%;
  text-align: center;
}
.icons__menu {
	height: 20%;
}
.icons__menu {
  margin-left: auto;
  width: 70%;
  display: flex;
}
.icons__menu .icons {
	width: 20%;
	height: 100%;
	cursor: pointer;
	position: relative;
	border-right: 1px solid rgba(255,255,255,0.3);
}
.icons__menu .icons:last-child {
	border-right: none;
}
.icons__menu .icons .fa {
	font-size: 1.8em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.icons__menu .icons:hover {
	border-bottom: 3px solid #fff;
}

.down__card {
	padding-top: 70px;
	background: var(--secondary-color);
	z-index: 1;
}
.down__card .bio {
	margin: 0 auto;
	width: 80%;
	height: 100%;
}
.down__card .bio h3 {
	margin: 12px 0;
	text-align: center;
  color: #080808;
	font-family: 'Roboto', sans-serif;
}
.down__card .bio p {
	text-align: center;
}
.down__card .bio p:nth-child(5) {
	margin: 15px 0;
	padding: 15px;
}
.down__card .bio p:nth-child(5) a {
	font-size: 1.2em;
	padding: 15px;
}
.down__card .bio p:nth-child(6) {
	margin-top: 20px;
}
/*
.btn {
	display: inline-block;
	padding: 15px 50px;
	width: 80%;
	color: #080808;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	background: var(--btn);
	border-radius: 5px;
	//border: 1px solid var(--btn);
	cursor: pointer;
	transition: all 0.35s ease;
}
.btn:hover {
	color: var(--btn);
	background: #101010;
	transition: all 0.35s ease;
}
*/
.btn {
	position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
	text-transform: none;
  color: #FFFFFF;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.btn:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
.contact{
	padding-top: 30px;
}
